@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ruyi Wang<br />
    <abbr title="Phone">P:</abbr>
    (780) 807-9918
</address>

<address>
    
    <strong>Email:</strong> <a href="mailto:bonnie51w@Yahoo.com">bonnie51w@Yahoo.com</a>
</address>